                <p>Thrust (Vac.): <%= entity.max_vac_thrust_n ? h(entity.max_vac_thrust_n / 1000) + 'kN' : '-' %> | Thrust (SL): <%= entity.max_sl_thrust_n ? h(entity.max_sl_thrust_n / 1000) + 'kN' : '-' %></p>
                <p>Developed by: <%= entity.manufacturer %></p>

