    <!-- Masthead (blueprinty thing)
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Explore space.</h1>
          <p class="lead">
            Browse the stats on rocket systems, their components, engines and the companies who built them.<br />
            Now available to you in a searchable, editable and linkable format.<br />

          </p>
          <p><strong>How we did it:</strong> Mach25 was built with Rails, MongoDB, Twitter Bootstrap and Coffeescript, by <a href="https://twitter.com/#!/benlund">Ben Lund</a> and <a href="http://michaelhallsmoore.com">Mike Halls-Moore</a>.</p>
        </div><!-- /container -->
      </div>
    </header>

    <div class="container">
    
<section id="featuredhardware">
  <div class="page-header">
    <h1>Featured Hardware <small>Engines, stages and launch vehicles.</small></h1>
  </div>
  <div class="row">
    <div class="span-one-third">
      <ul class="media-grid">
        <li><a href="#"><img class="thumbnail" alt="" width="300px" height="300px" src="/images/home-engines.jpg"></a></li>
      </ul>
      <h3>Rocket Engines</h3>
      <p>View a comphrehensive database of rocket system engines with technical specifications, galleries and comparisons.</p>
    </div>
    <div class="span-one-third">
      <ul class="media-grid">
        <li><a href="#"><img class="thumbnail" alt="" width="300px" height="300px" src="/images/home-stages.jpg"></a></li>
      </ul>
      <h3>Vehicle Stages</h3>
      <p>Browse the set of rocket system vehicle stages, each with likely mission profiles and historical use cases.</p>
    </div>
    <div class="span-one-third">
      <ul class="media-grid">
        <li><a href="#"><img class="thumbnail" alt="" width="300px" height="300px" src="/images/home-rockets.jpg"></a></li>
      </ul>
      <h3>Rocket Launch Systems</h3>
      <p>Study the launch system stacks in detail with company data, important missions and historical overviews.</p>
    </div>
  </div>
    
    <!-- About Bootstrap
================================================== -->
<section id="about">
  <div class="page-header">
    <h1>About Mach25</h1>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h3>The Site</h3>

      <p>Mach25 makes it easy to see how we get to space. Space launch system technical specs, costs and comparisons are
      currently buried and not easy to find. We decided to fix that.</p>
      <p>Read more on our <a href="#">About page &rsaquo;</a></p>
      <p>
        <a href="http://twitter.com/mach25" class="twitter-follow-button">Follow @Mach25</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </p>

    </div>
    <div class="span-one-third">
      <h3>The Data</h3>
      <p>Mach25 makes liberal use of Wikipedia, technical papers, budget whitepapers and government data archives. We strive
      to make our space data the most comprehensive available.</p>
      <p>Here are some great sources:</p>
      <ul>
        <li><a href="#">ESA</a></li>
        <li><a href="#">NASA</a></li>
        <li><a href="#">Wikipedia</a></li>
      </ul>
    </div>
    <div class="span-one-third">

      <h3>The Sections</h3>
      <p>A full list of all our categorisations.</p>
      <ul>
        <li><a href="#">Companies</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Configurations</a></li>
        <li><a href="#">Engines</a></li>
        <li><a href="#">Fuel</a></li>
        <li><a href="#">Missions</a></li>
        <li><a href="#">Oxidiser</a></li>
        <li><a href="#">Stages</a></li>
        <li><a href="#">Vehicles</a></li>
      </ul>
    </div>
  </div>
    
    </div>

